/* Estilo global para el body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Contenedor principal del Blog */
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo del título principal */
  h2 {
    text-align: center;
    color: #333;
  }
  
  /* Estilos para la lista de publicaciones */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin: 0;
    color: #333;
  }
  
  /* Estilo de los botones */
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Estilo para el formulario de creación y edición de publicaciones */
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input, textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }